- name: Update homebrew
  tags: homebrew
  homebrew: update_homebrew=yes

- name: Install homebrew tap packages
  tags: homebrew
  homebrew_tap: name={{ item }}
  loop:
    - homebrew/cask-fonts

- name: Install homebrew packages
  tags: homebrew
  homebrew: name={{ item }}
  loop:
    - ansible
    - awscli
    - docker
    - docker-compose
    - ghq
    - git
    - jq
    - nodebrew
    - peco
    - reattach-to-user-namespace
    - telnet
    - tmux
    - watch
    - wget
